# Default ignored files
*.DS_Store
.gradle
.settings
.project
.classpath
build
out
run
bin
logs
.github/devbuilds/node_modules
*.iws
*.ipr
*.iml
.idea/*
!.idea/copyright/*
!.idea/scopes/*
/run/usercache.json
/run/configManager/*
/run/configManager/
/run/saves/temp
/run/saves/temp/*
/run/saves
/runforge/.mixin.out/*
/run/servers.dat
/run/servers.dat_old
/runforge/configManager/splash.properties
/temp.txt
/temp.json
/fabric/run2/mods/
