# Default ignored files
/run/resourcepacks/
/run/saves/
/run/logs/
/run/data/
/run/crash-reports/
/.gradle/
/build/
/.idea/
/gradle/
/gradle/wrapper
*tar.gz
*.zip
/run/config/NoChatReports/README.md
/run/config/citresewn-defaults.json
/run/config/capes.json5
/run/config/chatnotify.json
/run/config/citresewn.json
/run/config/entity_model_features.json
/run/config/entity_texture_features.json
/run/config/entityculling.json
/run/config/fabrishot.properties
/run/config/fsb-interop.json
/run/config/gamecontrollerdatabase.txt
/run/config/Hype_Client_settings.json
/run/config/immediatelyfast.json
/run/config/fabric/indigo-renderer.properties
/run/config/isxander-main-menu-credits.json
/run/config/languagereload.json
/run/config/lithium.properties
/run/config/midnightcontrols.json
/run/config/midnightlib.json
/run/config/modmenu.json
/run/config/.puzzle_cache/mojangstudios.png
/run/config/NoChatReports/NCR-Client.json
/run/config/NoChatReports/NCR-Common.json
/run/config/NoChatReports/NCR-ServerPreferences.json
/run/config/yosbr/options.txt
/run/options.txt
/run/config/puzzle.json
/run/realms_persistence.json
/run/config/sodium-extra-options.json
/run/config/symbol-chat.json
/run/usercache.json
/run/config/zoomify.json
