<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <!-- Filter out Hypixel scoreboard and sound errors -->
    <RegexFilter
            regex="Missing sound for event.*|Ignoring player info update for unknown player.*|Received packet for unknown team .*|Ignoring player info update for unknown player .*|Requested creation of existing .*"
            onMatch="DENY"
                 onMismatch="NEUTRAL"/>
    <!-- Filter out other errors -->
    <RegexFilter regex="Error executing task.*" onMatch="DENY" onMismatch="NEUTRAL"/>
</Configuration>
